@charset "utf-8";
@import "base";
html,body {
  background: #FFF;

}
.wrap{
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #e8e8e8;
  color: #c2cfcc;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  @include boxSizing;
  @include fontFlex(18);
}
.wrap>.tabbar{
  text-align: center;
}
.wrap>.tabbar>ul>.tab-item{
  color:#c2cfcc;;
  list-style: none;
  background-color: #f6f6f6;
  width:calc(100%/3);
  height: 45px;
  text-align: center;
  @include boxSizing;
  padding-left: 18px;
  float: left;
}
.wrap>.tabbar>ul>.tab-item:hover{
  background-color: #e7f3f0;
}
.wrap>.tabbar>ul>.tab-item>p{
  width: 24px;
  height: 24px;
  margin: 7px auto;
  background: url(../../assets/img/icon2.png) no-repeat -30px 4.5px;
  background-size: 250px 250px;
  float: left;
}
.wrap>.tabbar>ul>.tab-item:hover>p{
  margin: 14px auto;
  background: url(../../assets/img/icon2.png) no-repeat -30px -18.5px;
  background-size: 250px 250px;
}
.wrap>.tabbar>ul>.tab-item>span{
  margin: 0 auto;
  float: left;
}
.wrap>.tabbar>ul>.tab-item:hover span{
  color: #00b38a;
}
.wrap>.tabbar>ul>.tab-item-two>p{
  background: url(../../assets/img/icon2.png) no-repeat -9px 2.5px;
  background-size: 250px 300px;
}
.wrap>.tabbar>ul>.tab-item-two:hover>p{
  background: url(../../assets/img/icon2.png) no-repeat -9px -18.5px;
  background-size: 250px 250px;
}
.wrap>.tabbar>ul>.tab-item-three>p{
  background: url(../../assets/img/icon2.png) no-repeat -47px 4.5px;
  background-size: 250px 250px;
}
.wrap>.tabbar>ul>.tab-item-three:hover>p{
  margin: 14px auto;
  background: url(../../assets/img/icon2.png) no-repeat -47px -18.5px;
  background-size: 250px 250px;
}