html{
    background: #018d66;
    padding: 10px;
    font-size:14px;

}
.email{
    height: 60px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.password{
    height: 60px;
    border-radius: 0 0 5px 5px;
}
.enroll{
    height: 60px;
    border-radius: 5px;
    background: #0ac599;
    color: #FFF;
    margin-top: 20px;
    font-size: 20px;
}
.noAccount{
    margin-top: 30px;
    font-size: 12px;
    color: #0ac599;
}
.register-but{
    text-decoration: none;
}
.register{
    height: 60px;
    border-radius: 5px;
    background:#018d67 ;
    border:1px solid #0ac599;
    color: #0ac599;
    margin-top: 10px;
    font-size: 20px;
}